# Cartões do Brasileirão

## Analisando Banco de dados

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Arquivos/campeonato-brasileiro-cartoes.csv')

In [3]:
dados.rename(columns = {'rodata':'rodada'}, inplace = True)

In [4]:
dados.head(10)

,partida_id,rodada,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
2,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
3,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
4,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44
5,4608,1,Internacional,Amarelo,Juan Silveira dos Santos,4.0,Zagueiro,20
6,4608,1,Vitoria,Amarelo,Vinícius Santos Silva,NaN,NaN,82
7,4609,1,Coritiba,Amarelo,Carlos Emiliano Pereira,30.0,Zagueiro,76
8,4615,1,Sport,Amarelo,Luiz Antonio Linhares Garcia,13.0,Zagueiro,55
9,4616,1,Criciuma,Amarelo,Silvinho,NaN,Atacante,72

In [5]:
print(dados.cartao.value_counts()['Amarelo'], 'amarelos') # Vermelhos e Amarelos
print(dados.cartao.value_counts()['Vermelho'], 'vermelhos') 
print(len(dados.cartao), 'cartões no total')

15889 amarelos
850 vermelhos
16739 cartões no total

In [6]:
dados.posicao.unique()

array([nan, 'Meio-campo', 'Zagueiro', 'Atacante', 'Goleiro', 'Zagueira'],
      dtype=object)

In [7]:
dados.posicao.fillna('Reserva', inplace = True) # Renomeando o nan para Reserva

In [8]:
zagueira = dados['posicao'] == 'Zagueira' # Identificando o erro de digitação zagueira
dados[zagueira].head()

,partida_id,rodada,clube,cartao,atleta,num_camisa,posicao,minuto
862,4799,19,Chapecoense,Amarelo,Douglas Grolli,NaN,Zagueira,64
1384,4904,30,Chapecoense,Amarelo,Douglas Grolli,NaN,Zagueira,36
1626,4945,35,Chapecoense,Amarelo,Douglas Grolli,NaN,Zagueira,19
3750,5357,38,Cruzeiro,Amarelo,Douglas Grolli,13.0,Zagueira,44
3807,5373,1,Ponte Preta,Amarelo,Douglas Grolli,3.0,Zagueira,66

In [9]:
dados['posicao'] = dados['posicao'].replace({'Zagueira' : 'Zagueiro'}) # Tratando de zagueira para zagueiro

In [10]:
dados.posicao.unique() # Conferindo se o erro foi consertado

array(['Reserva', 'Meio-campo', 'Zagueiro', 'Atacante', 'Goleiro'],
      dtype=object)

## Analisando jogadores

In [11]:
dados.atleta.value_counts() # Quantos cartões cada jogador levou

Thiago Heleno               67
Samuel Xavier               62
Fred                        61
Fagner                      60
Lucas Rafael Araújo Lima    60
                            ..
Rafael Grampola              1
Stéfano Yuri                 1
Juninho Quixadá              1
Nádson da Silva Almeida      1
Lucas Ramos                  1
Name: atleta, Length: 1933, dtype: int64

In [12]:
vermelho = dados.query('cartao == "Vermelho"') # Separando entre vermelho e amarelo
amarelo = dados.query('cartao == "Amarelo"')

In [13]:
amarelo['atleta'].value_counts().head() # Números de cartões amarelos levados por cada jogador

Thiago Heleno                   61
Wellington Aparecido Martins    59
Lucas Rafael Araújo Lima        58
Fred                            58
Samuel Xavier                   57
Name: atleta, dtype: int64

In [14]:
vermelho['atleta'].value_counts().head() # Números de cartões vermelhos levados por cada jogador

David Braz                  7
Thiago Heleno               6
Edílson Mendes Guimarães    5
Samuel Xavier               5
José Rafael Vivian          5
Name: atleta, dtype: int64

In [15]:
atletas = list(dados.atleta.unique())
d = {'Cartão amarelo' : amarelo['atleta'].value_counts(), # Criando DataFrame de cartões amarelos e vermelhos
     'Cartão vermelho' : vermelho['atleta'].value_counts(),
    }

In [16]:
df = pd.DataFrame(data = d, index = atletas)
df.fillna(0)

                                 Cartão amarelo  Cartão vermelho
Paulo Roberto da Silva                     16.0              0.0
Andrés D'Alessandro                        28.0              1.0
Marcelo Machado dos Santos                  9.0              1.0
Mansur                                      5.0              1.0
Thiago Heleno                              61.0              6.0
...                                         ...              ...
Pablo Dyego                                 1.0              0.0
Júnior Santos                               1.0              0.0
Endrick                                     1.0              0.0
Lucas Pereira Ramires Constante             1.0              0.0
Lucas Ramos                                 1.0              0.0

[1934 rows x 2 columns]

In [17]:
df.loc[df['Cartão amarelo'].idxmax()]

Cartão amarelo     61.0
Cartão vermelho     6.0
Name: Thiago Heleno, dtype: float64

In [18]:
flamengo = dados.query('clube == "Flamengo"')

In [20]:
flamengo['cartao'].value_counts() # Número de cartões levados por jogadores do Flamengo

Amarelo     724
Vermelho     40
Name: cartao, dtype: int64